html {
    body {
        main {
            div.wrapper {
                div.pokemonRender {
                    width: 100%;
                    height: 305px;

                    div.pokemonHeader {
                        height: 60px;
                        background-color: var(--header);
                        border-radius: 16px 16px 0px 0px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;

                        h2 {
                            color: var(--white);
                            text-align: left;
                            margin-left: 10px;
                        }
                    }

                    div.pokemonMain {
                        height: 150px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        padding: 15px 0px;

                        img {
                            height: 100%;
                            max-width: 200px;
                        }


                        img:hover {
                            -webkit-filter: drop-shadow(8px -8px 10px var(--black));
                            filter: drop-shadow(8px -8px 10px var(--black));
                            transform: scale(1.25);
                        }
                    }

                    div.pokemonFooter {
                        height: 90px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 10px;
                        align-content: center;
                        justify-content: space-evenly;
                        align-items: center;
                        background-color: var(--header);
                        border-radius: 0px 0px 16px 16px;

                        img {
                            height: 30px;
                        }
                    }
                }

                div.pokemonRender:hover {
                    border: solid var(--white);
                    border-radius: 16px;
                    cursor: pointer;
                }
            }
        }
    }
}

.button_for_more {
    height: 50px;
    align-content: center;
    align-items: center;
    border: solid white;
    background: var(--header);
    color: var(--white);
    border-radius: 20px;
    width: 100px;
    font-weight: 700;
    cursor: pointer;
    transition: transform .2s;
}

.button_for_more:hover {
    transform: scale(1.25);
}

.opened {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 550px;
    border-style: solid;
    border-color: var(--white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: var(--background);

    header {
        height: 50px;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 16px 16px 0px 0px;
        gap: 10px;
    }

    footer {
        height: 100px;
        width: 100%;
        padding: 0;
        border-radius: 0px 0px 16px 16px;

        img {
            width: 150px;
        }
    }
}

.myDialog_main {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    section.myDialog_sectionImg {
        img {
            height: 100px;
        }

        div.image {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            flex-direction: column;
            padding: 25px 30px;
        }

        div.types {
            height: 80px;
            padding: 25px 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            align-items: center;
            gap: 10px;

            img {
                height: 30px;
            }
        }

    }
}

#myDialog {
    h2 {
        color: var(--white);
        font-size: 24px;
        text-align: center;
    }

    section {
        width: 100%;
    }
}

#myDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

#myLoadIMG {
    position: absolute;
    margin: auto;
    width: 100px;
    height: 100px;
    animation: mymove 3s infinite;

}

@keyframes mymove {
    0% {
        scale: 100%;
    }

    50% {
        transform: rotate(360deg);
        scale: 150%;
    }

    100% {
        scale: 100%;
    }
}