html {
    body {
        main {
            div.wrapper {
                div.pokemonList {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, 200px);
                    gap: 25px;
                    align-items: center;
                    justify-items: center;
                    justify-content: center;

                    h2 {
                        color: var(--white);
                        text-align: center;
                    }

                    div.pokemonRender {
                        width: 100%;
                        height: 305px;

                        div.pokemonHeader {
                            height: 60px;
                            background-color: var(--header);
                            border-radius: 16px 16px 0px 0px;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 10px;

                            h2 {
                                color: var(--white);
                                text-align: left;
                                margin-left: 10px;
                            }
                        }

                        div.pokemonMain {
                            height: 150px;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: center;
                            align-items: center;
                            background-color: white;
                            padding: 15px 0px;

                            img {
                                height: 100%;
                                max-width: 200px;
                            }


                            img:hover {
                                -webkit-filter: drop-shadow(8px -8px 10px var(--black));
                                filter: drop-shadow(8px -8px 10px var(--black));
                                transform: scale(1.25);
                            }
                        }

                        div.pokemonFooter {
                            height: 90px;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 10px;
                            align-content: center;
                            justify-content: space-evenly;
                            align-items: center;
                            background-color: var(--header);
                            border-radius: 0px 0px 16px 16px;

                            img {
                                height: 30px;
                            }
                        }
                    }

                    div.pokemonRender:hover {
                        border: solid var(--white);
                        border-radius: 16px;
                        cursor: pointer;
                    }

                }

                div.div_button_for_more {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    padding-top: 25px;
                }
            }
        }
    }
}

.button_for_more {
    height: 50px;
    align-content: center;
    align-items: center;
    border: solid var(--white);
    background: var(--header);
    color: var(--white);
    border-radius: 20px;
    width: 100px;
    font-weight: 700;
    cursor: pointer;
    transition: transform .2s;
}

.button_for_more:hover {
    transform: scale(1.25);
}

.button_for_search {
    height: 50px;
    align-content: center;
    align-items: center;
    border: solid white;
    background: var(--header);
    color: var(--white);
    border-radius: 20px;
    width: 100px;
    font-weight: 700;
    cursor: pointer;
    transition: transform .2s;
}

.button_for_search:hover {
    border: solid var(--orange);
}

.searchField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;

    input {
        min-width: 230px;
    }
}

.opened {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 638px;
    border-style: solid;
    border-color: var(--white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: var(--background);

    header {
        height: 50px;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 16px 16px 0px 0px;
        gap: 10px;
    }

    footer {
        height: 70px;
        width: 100%;
        padding: 0;
        border-radius: 0px 0px 16px 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;

        img {
            cursor: pointer;
            width: 100px;
        }

        img:hover {
            transform: scale(1.1);
        }
    }
}

.myDialog_main {
    height: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    section.myDialog_sectionImg {

        div.image {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            flex-direction: column;
            padding: 25px 30px;

            img {
                height: 100px;
            }

            img:hover {
                transform: scale(1.75);
            }
        }

        div.types {
            height: 80px;
            padding: 25px 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            align-items: center;
            gap: 10px;

            img {
                height: 30px;
            }
        }

    }

    section.myDialog_sectionNav {
        width: 100%;
        margin-bottom: 25px;

        nav {
            color: white;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            background: var(--header);
            width: 100%;
            text-align: center;
            gap: 1%;
            height: 40px;

            li {
                width: 33%;
                background-color: var(--nav_bar_stats);
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        li:hover {
            border-bottom: solid white 2px;
            cursor: pointer;
        }
    }

    section.myDialog_sectionStats {
        width: 100%;
        height: 160px;
        color: var(--white);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 25px;

        table {
            padding-left: 25px;
            width: 100%;

            tbody {
                width: 100%;

                tr {
                    td {
                        div.progress_bar_background {
                            height: 18px;
                            width: 100%;
                            background-color: dimgrey;
                            border-radius: 5px;


                            div.progress_bar_value {
                                height: 18px;
                                width: 25%;
                                background-color: var(--white);
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }

        div.evo_chain {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            align-items: center;

            div.evo_chain_contPic {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: center;
                justify-content: flex-start;
                align-items: center;
                width: 30%;
                gap: 10px;

                img {
                    height: 100px;
                }
            }
        }
    }
}


#myDialog {
    h2 {
        color: var(--white);
        font-size: 24px;
        text-align: center;
    }

    section {
        width: 100%;
    }
}

#myDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted var(--black);
    cursor: pointer;
    z-index: 7;
    overflow: visible;
}

.tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 100%;
    z-index: 7;
    overflow: visible;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#myLoadIMG {
    position: absolute;
    margin: auto;
    width: 100px;
    height: 100px;
    animation: mymove 3s infinite;

}

@keyframes mymove {
    0% {
        scale: 100%;
    }

    50% {
        transform: rotate(360deg);
        scale: 150%;
    }

    100% {
        scale: 100%;
    }
}

@media (max-width: 400px) {

    .myDialog_main {
        section.myDialog_sectionStats {
            overflow-y: auto;
            flex-direction: column;

            div.evo_chain {
                gap: 25px;
                flex-direction: column;
                justify-content: flex-start;
            }
        }
    }

}