html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 8px;
}